### Подключаем пакет

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

In [14]:
# DJI
#url='https://finance.yahoo.com/quote/%5EDJI/components?p=%5EDJI'
# NASDAQ
#url='https://finance.yahoo.com/quote/%5EIXIC/components?p=%5EIXIC'
# wiki DJI
url= 'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average'
pd.read_html(url)[1]

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M Company,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,2.88%
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31,NaN,4.87%
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.57%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,4.92%
5,Caterpillar Inc.,NYSE,CAT,Construction and Mining,1991-05-06,NaN,4.54%
6,Chevron Corporation,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.03%
7,Cisco Systems,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.00%
8,The Coca-Cola Company,NYSE,KO,Food industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.04%
9,Dow Inc.,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.25%
10,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,6.54%
11,The Home Depot,NYSE,HD,Retailing,1999-11-01,NaN,6.24%
12,Honeywell,NYSE,HON,Conglomerate,2020-08-31,NaN,4.47%
13,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.59%
14,Intel,NASDAQ,INTC,Information technology,1999-11-01,NaN,1.25%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.12%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.95%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.49%
18,Merck & Co.,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.49%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,4.98%
20,Nike,NYSE,NKE,Apparel,2013-09-20,NaN,2.58%
21,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.64%
22,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.45%
23,The Travelers Companies,NYSE,TRV,Financial services,2009-06-08,NaN,3.03%
24,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.33%
25,Verizon,NYSE,VZ,Telecommunication,2004-04-08,NaN,1.13%
26,Visa Inc.,NYSE,V,Financial services,2013-09-20,NaN,4.33%
27,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,1.06%
28,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,2.72%
29,The Walt Disney Company,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,3.66%

## Диверсификация портфеля
### Загрузка данных

In [3]:
#Импортируем перечень бумаг 
import pandas as pd
url= 'https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average'

df = pd.read_html(url)[1]
df.head()

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M Company,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,3.84%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,2.88%
2,Amgen,NASDAQ,AMGN,Pharmaceutical industry,2020-08-31,NaN,4.87%
3,Apple Inc.,NASDAQ,AAPL,Information technology,2015-03-19,NaN,2.57%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,4.92%

In [4]:
#Выгружаем тикера и названия компаний
names=df[['Symbol','Company']]
symbol=names['Symbol'].values
full_name=names['Company'].values
print(symbol)
print(full_name)

['MMM' 'AXP' 'AMGN' 'AAPL' 'BA' 'CAT' 'CVX' 'CSCO' 'KO' 'DOW' 'GS' 'HD'
 'HON' 'IBM' 'INTC' 'JNJ' 'JPM' 'MCD' 'MRK' 'MSFT' 'NKE' 'PG' 'CRM' 'TRV'
 'UNH' 'VZ' 'V' 'WBA' 'WMT' 'DIS']
['3M Company' 'American Express' 'Amgen' 'Apple Inc.' 'Boeing'
 'Caterpillar Inc.' 'Chevron Corporation' 'Cisco Systems'
 'The Coca-Cola Company' 'Dow Inc.' 'Goldman Sachs' 'The Home Depot'
 'Honeywell' 'IBM' 'Intel' 'Johnson & Johnson' 'JPMorgan Chase'
 "McDonald's" 'Merck & Co.' 'Microsoft' 'Nike' 'Procter & Gamble'
 'Salesforce' 'The Travelers Companies' 'UnitedHealth Group' 'Verizon'
 'Visa Inc.' 'Walgreens Boots Alliance' 'Walmart'
 'The Walt Disney Company']

In [5]:
#грузим исторические данные на цену закрытия
# доп пакет pandas-datareader
# pip install pandas-datareader
#
# доп пакет requests-cache
# pip install requests-cache

import pandas_datareader.data as web
import datetime
import requests_cache

start = datetime.datetime(2020, 6, 1)
end = datetime.datetime(2021, 2, 28)

# data_exchange={}
# for s in symbol:
#       data_exchange[s] =  web.DataReader(s,'stooq', start, end)  
        
# data_exchange={}
# for s in symbol:
#       data_exchange[s] =  web.DataReader(s,'quandl', start, end)        
        
expire_after = datetime.timedelta(days=3)
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expire_after)
data_exchange={}
for s in symbol:
      data_exchange[s] =  web.DataReader(s, 'yahoo', start, end, session=session)      
    
    
# expire_after = datetime.timedelta(days=3)
# session = requests_cache.CachedSession(cache_name='cache', 
#                                        backend='sqlite', 
#                                        expire_after=expire_after)
# start = datetime.datetime(2018, 1, 1)
# end = datetime.datetime(2018, 4, 30)

# data_exchange={}

# n=25 # проблемный актив
# names=names.drop([25])
# symbol=np.delete(symbol,[25])
# full_name=np.delete(full_name,[25])

# for s in symbol_dow:
#     data_exchange[s]=  web.DataReader(s,'yahoo', start, end, session=session)    

data_exchange

{'MMM':                   High         Low        Open       Close     Volume  \
 Date
 2020-06-01  157.550003  154.889999  155.949997  155.580002  2083400.0
 2020-06-02  158.600006  156.630005  156.750000  157.639999  2333800.0
 2020-06-03  161.660004  158.520004  159.350006  161.210007  3674300.0
 2020-06-04  162.580002  159.179993  159.759995  162.550003  2880700.0
 2020-06-05  168.350006  165.000000  165.000000  167.410004  4527200.0
 ...                ...         ...         ...         ...        ...
 2021-02-22  177.089996  175.009995  176.460007  176.119995  2271500.0
 2021-02-23  177.539993  174.710007  177.539993  176.169998  2352300.0
 2021-02-24  177.979996  173.759995  176.000000  177.630005  2742600.0
 2021-02-25  180.750000  177.429993  177.520004  178.759995  2634300.0
 2021-02-26  179.449997  174.610001  179.440002  175.059998  3363300.0

              Adj Close
 Date
 2020-06-01  151.605072
 2020-06-02  153.612442
 2020-06-03  157.091232
 2020-06-04  158.396988
 2020-06-05  163.132812
 ...                ...
 2021-02-22  176.119995
 2021-02-23  176.169998
 2021-02-24  177.630005
 2021-02-25  178.759995
 2021-02-26  175.059998

 [188 rows x 6 columns],
 'AXP':                   High         Low        Open       Close      Volume  \
 Date
 2020-06-01   98.070000   94.559998   95.559998   96.750000   4269500.0
 2020-06-02  100.489998   98.169998   98.599998   99.070000   5433800.0
 2020-06-03  105.870003  101.629997  102.779999  105.400002   7301000.0
 2020-06-04  107.430000  103.230003  103.470001  106.540001   5841600.0
 2020-06-05  115.930000  108.070000  114.110001  109.730003  10097600.0
 ...                ...         ...         ...         ...         ...
 2021-02-22  136.470001  131.369995  131.509995  135.949997   3923100.0
 2021-02-23  138.309998  134.279999  136.470001  136.940002   4814400.0
 2021-02-24  140.949997  136.809998  137.199997  139.889999   4099500.0
 2021-02-25  140.639999  136.369995  140.619995  137.080002   3607500.0
 2021-02-26  138.250000  133.789993  137.100006  135.259995   3654800.0

              Adj Close
 Date
 2020-06-01   95.290840
 2020-06-02   97.575851
 2020-06-03  103.810394
 2020-06-04  104.933197
 2020-06-05  108.075089
 ...                ...
 2021-02-22  135.542587
 2021-02-23  136.529633
 2021-02-24  139.470779
 2021-02-25  136.669205
 2021-02-26  134.854660

 [188 rows x 6 columns],
 'AMGN':                   High         Low        Open       Close     Volume  \
 Date
 2020-06-01  230.539993  225.710007  228.889999  226.910004  1816700.0
 2020-06-02  226.360001  222.580002  225.800003  223.720001  3198900.0
 2020-06-03  224.289993  218.250000  223.490005  221.000000  3660500.0
 2020-06-04  223.449997  219.210007  220.770004  220.880005  2392800.0
 2020-06-05  225.949997  218.199997  219.699997  225.669998  3714600.0
 ...                ...         ...         ...         ...        ...
 2021-02-22  233.800003  230.119995  230.330002  231.470001  2334800.0
 2021-02-23  238.000000  230.970001  232.649994  232.460007  2919200.0
 2021-02-24  230.789993  227.710007  229.869995  229.990005  2690500.0
 2021-02-25  230.500000  226.899994  229.990005  227.520004  2769200.0
 2021-02-26  230.309998  223.619995  230.309998  224.919998  3453500.0

              Adj Close
 Date
 2020-06-01  222.226990
 2020-06-02  219.102829
 2020-06-03  216.438965
 2020-06-04  216.321442
 2020-06-05  221.012573
 ...                ...
 2021-02-22  231.470001
 2021-02-23  232.460007
 2021-02-24  229.990005
 2021-02-25  227.520004
 2021-02-26  224.919998

 [188 rows x 6 columns],
 'AAPL':                   High         Low        Open       Close       Volume  \
 Date
 2020-06-01   80.587502   79.302498   79.437500   80.462502   80791200.0
 2020-06-02   80.860001   79.732498   80.187500   80.834999   87642800.0
 2020-06-03   81.550003   80.574997   81.165001   81.279999  104491200.0
 2020-06-04   81.404999   80.195000   81.097504   80.580002   87560400.0
 2020-06-05   82.937500   80.807503   80.837502   82.875000  137250400.0
 ...                ...         ...         ...         ...          ...
 2021-02-22  129.720001  125.599998  128.009995  126.000000  103916400.0
 2021-02-23  126.709999  118.389999  123.760002  125.860001  158273000.0
 2021-02-24  125.559998  122.230003  124.940002  125.349998  111039900.0
 2021-02-25  126.459999  120.540001  124.680000  120.989998  148199500.0
 2021-02-26  124.849998  121.199997  122.589996  121.260002  164320000.0

              Adj Close
 Date
 2020-06-01   80.059723
 2020-06-02   80.430351
 2020-06-03   80.873131
 2020-06-04   80.176636
 2020-06-05   82.460152
 ...                ...
 2021-02-22  126.000000
 2021-02-23  125.860001
 2021-02-24  125.349998
 2021-02-25  120.989998
 2021-02-26  121.260002

 [188 rows x 6 columns],
 'BA':                   High         Low        Open       Close    Volume  \
 Date
 2020-06-01  153.550003  144.550003  145.449997  151.389999  27127300
 2020-06-02  155.850006  151.809998  154.000000  153.309998  24780500
 2020-06-03  173.779999  155.490005  157.100006  173.160004  66486400
 2020-06-04  188.600006  177.399994  181.279999  184.300003  67155600
 2020-06-05  218.789993  197.360001  205.000000  205.429993  99846000
 ...                ...         ...         ...         ...       ...
 2021-02-22  220.389999  210.800003  211.889999  212.880005  21413700
 2021-02-23  214.750000  206.600006  214.149994  212.119995  15996700
 2021-02-24  229.610001  211.600006  212.100006  229.339996  30709300
 2021-02-25  228.500000  214.710007  227.800003  216.449997  19283000
 2021-02-26  220.660004  211.289993  218.509995  212.009995  12811900

              Adj Close
 Date
 2020-06-01  151.389999
 2020-06-02  153.309998
 2020-06-03  173.160004
 2020-06-04  184.300003
 2020-06-05  205.429993
 ...                ...
 2021-02-22  212.880005
 2021-02-23  212.119995
 2021-02-24  229.339996
 2021-02-25  216.449997
 2021-02-26  212.009995

 [188 rows x 6 columns],
 'CAT':                   High         Low        Open       Close     Volume  \
 Date
 2020-06-01  121.199997  117.610001  119.860001  120.500000  2131300.0
 2020-06-02  123.820000  121.279999  121.839996  123.320000  2977500.0
 2020-06-03  127.349998  125.010002  125.449997  127.089996  3712600.0
 2020-06-04  129.029999  124.739998  125.410004  128.960007  3076700.0
 2020-06-05  139.369995  133.389999  137.850006  135.119995  5591900.0
 ...                ...         ...         ...         ...        ...
 2021-02-22  218.869995  209.339996  209.630005  218.059998  4578300.0
 2021-02-23  220.740005  213.279999  219.529999  220.179993  4125100.0
 2021-02-24  226.669998  219.880005  220.410004  222.470001  4925000.0
 2021-02-25  224.399994  219.720001  223.619995  221.820007  4313000.0
 2021-02-26  222.399994  215.820007  220.750000  215.880005  4460400.0

              Adj Close
 Date
 2020-06-01  118.249001
 2020-06-02  121.016312
 2020-06-03  124.715889
 2020-06-04  126.550964
 2020-06-05  132.595886
 ...                ...
 2021-02-22  218.059998
 2021-02-23  220.179993
 2021-02-24  222.470001
 2021-02-25  221.820007
 2021-02-26  215.880005

 [188 rows x 6 columns],
 'CVX':                   High         Low        Open       Close      Volume  \
 Date
 2020-06-01   93.849998   90.110001   90.940002   92.790001   7344000.0
 2020-06-02   95.220001   93.290001   93.779999   94.690002   7880300.0
 2020-06-03   97.730003   95.750000   95.970001   97.180000   8440200.0
 2020-06-04   96.889999   95.160004   96.779999   96.279999   6371700.0
 2020-06-05  102.050003   99.050003   99.080002  100.809998  12760100.0
 ...                ...         ...         ...         ...         ...
 2021-02-22   99.639999   96.459999   96.989998   98.389999  13178700.0
 2021-02-23  100.160004   96.800003   99.970001   99.629997  14874000.0
 2021-02-24  104.040001   99.809998  100.330002  103.309998  16116000.0
 2021-02-25  104.959999  101.589996  104.900002  102.349998  13219200.0
 2021-02-26  101.059998   97.610001  100.300003  100.000000  14452300.0

              Adj Close
 Date
 2020-06-01   88.888390
 2020-06-02   90.708504
 2020-06-03   93.093796
 2020-06-04   92.231651
 2020-06-05   96.571175
 ...                ...
 2021-02-22   98.389999
 2021-02-23   99.629997
 2021-02-24  103.309998
 2021-02-25  102.349998
 2021-02-26  100.000000

 [188 rows x 6 columns],
 'CSCO':                  High        Low       Open      Close      Volume  Adj Close
 Date
 2020-06-01  47.290001  46.230000  47.150002  46.299999  18712400.0  44.830696
 2020-06-02  46.900002  45.880001  46.400002  46.889999  17285900.0  45.401978
 2020-06-03  47.200001  46.540001  46.980000  46.939999  17492000.0  45.450386
 2020-06-04  47.250000  46.529999  46.770000  46.860001  14100700.0  45.372929
 2020-06-05  48.290001  47.200001  47.270000  47.830002  22591100.0  46.312149
 ...               ...        ...        ...        ...         ...        ...
 2021-02-22  45.680000  44.820000  45.290001  45.430000  21435800.0  45.106625
 2021-02-23  45.779999  45.099998  45.259998  45.509998  19714900.0  45.186054
 2021-02-24  45.799999  45.040001  45.240002  45.740002  17823600.0  45.414421
 2021-02-25  46.240002  45.240002  45.590000  45.520000  21916700.0  45.195984
 2021-02-26  45.779999  44.759998  45.580002  44.869999  22142400.0  44.550610

 [188 rows x 6 columns],
 'KO':                  High        Low       Open      Close      Volume  Adj Close
 Date
 2020-06-01  47.230000  46.590000  46.660000  46.990002  17010700.0  45.455303
 2020-06-02  47.279999  46.560001  47.160000  46.900002  15255100.0  45.368244
 2020-06-03  48.119999  47.119999  47.270000  47.900002  15508300.0  46.335583
 2020-06-04  48.270000  47.380001  47.939999  47.919998  13604700.0  46.354927
 2020-06-05  49.490002  48.459999  48.540001  49.090000  20504800.0  47.486721
 ...               ...        ...        ...        ...         ...        ...
 2021-02-22  50.880001  49.669998  49.849998  50.630001  14370900.0  50.212067
 2021-02-23  51.509998  50.419998  51.000000  50.540001  16222300.0  50.122807
 2021-02-24  50.900002  50.130001  50.389999  50.709999  14442000.0  50.291405
 2021-02-25  50.750000  49.980000  50.470001  50.169998  14211100.0  49.755859
 2021-02-26  50.209999  48.970001  50.200001  48.990002  23633800.0  48.585602

 [188 rows x 6 columns],
 'DOW':                  High        Low       Open      Close     Volume  Adj Close
 Date
 2020-06-01  39.009998  38.180000  38.610001  38.610001  3014400.0  37.140076
 2020-06-02  41.230000  39.090000  39.200001  40.599998  6083400.0  39.054314
 2020-06-03  42.299999  41.459999  41.490002  41.630001  5160600.0  40.045101
 2020-06-04  42.759998  41.320000  41.500000  42.709999  3901500.0  41.083981
 2020-06-05  45.730000  43.837002  44.709999  43.970001  7656600.0  42.296013
 ...               ...        ...        ...        ...        ...        ...
 2021-02-22  62.560001  60.200001  60.619999  62.480000  5672600.0  61.793297
 2021-02-23  62.970001  61.509998  62.939999  62.119999  4147200.0  61.437256
 2021-02-24  63.980000  61.943001  62.000000  63.689999  4668600.0  62.989998
 2021-02-25  62.837002  61.125000  62.480000  61.349998  3260300.0  61.349998
 2021-02-26  61.049999  58.799999  60.849998  59.310001  6399700.0  59.310001

 [188 rows x 6 columns],
 'GS':                   High         Low        Open       Close     Volume  \
 Date
 2020-06-01  201.770004  195.119995  197.309998  199.929993  2230800.0
 2020-06-02  206.500000  201.320007  203.770004  204.139999  4128700.0
 2020-06-03  211.929993  206.429993  208.490005  210.570007  3471900.0
 2020-06-04  214.990005  207.960007  208.789993  214.820007  3522300.0
 2020-06-05  222.979996  217.660004  222.000000  217.919998  4737600.0
 ...                ...         ...         ...         ...        ...
 2021-02-22  320.559998  312.209991  313.000000  316.869995  3162300.0
 2021-02-23  320.000000  310.579987  317.980011  319.209991  2942500.0
 2021-02-24  330.970001  320.100006  320.170013  330.640015  3934400.0
 2021-02-25  335.809998  326.290009  333.329987  327.760010  4244000.0
 2021-02-26  328.679993  319.040009  325.769989  319.480011  3731100.0

              Adj Close
 Date
 2020-06-01  196.876160
 2020-06-02  201.021881
 2020-06-03  207.353668
 2020-06-04  211.538742
 2020-06-05  214.591385
 ...                ...
 2021-02-22  315.630188
 2021-02-23  317.961029
 2021-02-24  329.346344
 2021-02-25  326.477600
 2021-02-26  318.230011

 [188 rows x 6 columns],
 'HD':                   High         Low        Open       Close      Volume  \
 Date
 2020-06-01  249.779999  245.869995  249.410004  247.289993   3407800.0
 2020-06-02  252.720001  247.000000  248.630005  252.710007   5301000.0
 2020-06-03  252.830002  250.389999  251.800003  251.000000   4638100.0
 2020-06-04  252.169998  247.470001  249.770004  248.949997   4759400.0
 2020-06-05  255.850006  250.380005  252.339996  254.899994   5054300.0
 ...                ...         ...         ...         ...         ...
 2021-02-22  278.489990  273.630005  278.209991  275.850006   3995500.0
 2021-02-23  269.670013  257.579987  269.380005  267.239990  12111000.0
 2021-02-24  266.989990  254.029999  263.230011  259.970001  14512700.0
 2021-02-25  260.899994  254.710007  259.750000  255.250000   6545400.0
 2021-02-26  260.239990  256.109985  257.769989  258.339996   7870100.0

              Adj Close
 Date
 2020-06-01  241.691971
 2020-06-02  246.989304
 2020-06-03  246.782822
 2020-06-04  244.767258
 2020-06-05  250.617279
 ...                ...
 2021-02-22  274.132172
 2021-02-23  265.575775
 2021-02-24  258.351074
 2021-02-25  253.660461
 2021-02-26  256.731232

 [188 rows x 6 columns],
 'HON':                   High         Low        Open       Close     Volume  \
 Date
 2020-06-01  147.789993  144.910004  145.490005  146.179993  2071100.0
 2020-06-02  148.729996  146.449997  147.789993  148.350006  3625800.0
 2020-06-03  154.380005  150.050003  150.240005  153.350006  2992700.0
 2020-06-04  156.179993  151.130005  152.009995  155.910004  3768200.0
 2020-06-05  165.720001  160.539993  162.910004  161.369995  4524900.0
 ...                ...         ...         ...         ...        ...
 2021-02-22  204.300003  202.419998  203.039993  203.619995  2205300.0
 2021-02-23  205.839996  202.970001  205.009995  205.039993  2459300.0
 2021-02-24  212.139999  203.500000  204.889999  211.029999  3341500.0
 2021-02-25  210.460007  204.259995  209.949997  204.789993  2735000.0
 2021-02-26  205.800003  202.070007  205.630005  202.350006  3665700.0

              Adj Close
 Date
 2020-06-01  144.042175
 2020-06-02  146.180450
 2020-06-03  151.107330
 2020-06-04  153.629868
 2020-06-05  159.010010
 ...                ...
 2021-02-22  202.722656
 2021-02-23  204.136398
 2021-02-24  210.100006
 2021-02-25  204.789993
 2021-02-26  202.350006

 [188 rows x 6 columns],
 'IBM':                   High         Low        Open       Close     Volume  \
 Date
 2020-06-01  125.750000  124.029999  124.639999  124.889999  2871700.0
 2020-06-02  126.000000  124.660004  125.669998  126.000000  2978100.0
 2020-06-03  129.600006  127.000000  127.150002  129.050003  3917700.0
 2020-06-04  128.949997  127.019997  127.779999  128.889999  3864800.0
 2020-06-05  134.229996  131.750000  133.889999  132.059998  5892700.0
 ...                ...         ...         ...         ...        ...
 2021-02-22  121.129997  118.440002  118.500000  120.860001  5879200.0
 2021-02-23  121.349998  119.800003  120.919998  120.709999  4531300.0
 2021-02-24  123.489998  120.519997  120.800003  123.209999  5820000.0
 2021-02-25  124.349998  122.339996  123.370003  122.470001  5691800.0
 2021-02-26  122.250000  118.879997  122.250000  118.930000  9044900.0

              Adj Close
 Date
 2020-06-01  119.911522
 2020-06-02  120.977280
 2020-06-03  123.905701
 2020-06-04  123.752075
 2020-06-05  126.795700
 ...                ...
 2021-02-22  120.860001
 2021-02-23  120.709999
 2021-02-24  123.209999
 2021-02-25  122.470001
 2021-02-26  118.930000

 [188 rows x 6 columns],
 'INTC':                  High        Low       Open      Close      Volume  Adj Close
 Date
 2020-06-01  62.660000  61.660000  62.490002  61.860001  14317700.0  60.631008
 2020-06-02  62.169998  60.830002  61.700001  62.119999  20702400.0  60.885845
 2020-06-03  62.540001  61.529999  62.450001  61.930000  16737300.0  60.699615
 2020-06-04  63.470001  61.340000  61.740002  62.970001  22010100.0  61.718956
 2020-06-05  65.110001  63.160000  63.360001  64.339996  26813100.0  63.061733
 ...               ...        ...        ...        ...         ...        ...
 2021-02-22  62.700001  60.660000  61.880001  60.709999  32288200.0  60.709999
 2021-02-23  61.500000  59.169998  60.480000  61.119999  27374600.0  61.119999
 2021-02-24  63.279999  60.380001  60.529999  63.189999  24669900.0  63.189999
 2021-02-25  63.540001  60.130001  62.410000  60.400002  36394000.0  60.400002
 2021-02-26  61.689999  59.680000  60.889999  60.779999  38210400.0  60.779999

 [188 rows x 6 columns],
 'JNJ':                   High         Low        Open       Close      Volume  \
 Date
 2020-06-01  148.339996  146.009995  147.289993  147.190002   6141800.0
 2020-06-02  148.350006  146.119995  147.059998  148.250000   6078300.0
 2020-06-03  149.139999  146.449997  148.520004  148.649994   6339500.0
 2020-06-04  148.369995  145.580002  146.800003  146.729996   8170500.0
 2020-06-05  149.639999  146.600006  147.690002  147.300003   9725400.0
 ...                ...         ...         ...         ...         ...
 2021-02-22  162.539993  160.289993  161.869995  161.869995   6447100.0
 2021-02-23  163.190002  160.399994  161.479996  160.440002   7042800.0
 2021-02-24  164.389999  160.919998  162.399994  162.589996  10286100.0
 2021-02-25  163.699997  161.990005  163.130005  162.759995   9719700.0
 2021-02-26  162.410004  157.970001  162.000000  158.460007  14356800.0

              Adj Close
 Date
 2020-06-01  144.307938
 2020-06-02  145.347198
 2020-06-03  145.739349
 2020-06-04  143.856949
 2020-06-05  144.415787
 ...                ...
 2021-02-22  161.869995
 2021-02-23  160.440002
 2021-02-24  162.589996
 2021-02-25  162.759995
 2021-02-26  158.460007

 [188 rows x 6 columns],
 'JPM':                   High         Low        Open       Close      Volume  \
 Date
 2020-06-01   99.510002   97.379997   97.750000   98.599998  15176800.0
 2020-06-02  100.419998   97.930000  100.279999   98.930000  21195000.0
 2020-06-03  104.919998  101.059998  101.580002  104.269997  25941100.0
 2020-06-04  106.610001  102.790001  103.820000  106.440002  26784700.0
 2020-06-05  115.769997  109.529999  114.930000  111.230003  42231000.0
 ...                ...         ...         ...         ...         ...
 2021-02-22  150.190002  146.789993  146.869995  149.410004  11488400.0
 2021-02-23  152.309998  149.589996  151.509995  150.610001  16234400.0
 2021-02-24  153.759995  150.110001  150.110001  153.259995  15061400.0
 2021-02-25  154.899994  150.589996  154.270004  151.179993  18127700.0
 2021-02-26  150.869995  146.509995  150.300003  147.169998  19823300.0

              Adj Close
 Date
 2020-06-01   95.496445
 2020-06-02   95.816063
 2020-06-03  100.987976
 2020-06-04  103.089684
 2020-06-05  107.728912
 ...                ...
 2021-02-22  148.535172
 2021-02-23  149.728149
 2021-02-24  152.362625
 2021-02-25  150.294800
 2021-02-26  146.308289

 [188 rows x 6 columns],
 'MCD':                   High         Low        Open       Close     Volume  \
 Date
 2020-06-01  187.839996  185.600006  186.710007  187.410004  2168200.0
 2020-06-02  188.559998  186.089996  188.399994  187.589996  3125500.0
 2020-06-03  193.809998  188.089996  188.470001  193.289993  3881500.0
 2020-06-04  194.259995  191.619995  192.320007  193.240005  3469100.0
 2020-06-05  200.149994  196.270004  198.000000  197.160004  4728300.0
 ...                ...         ...         ...         ...        ...

In [6]:
data_exchange["MMM"]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-06-01,157.550003,154.889999,155.949997,155.580002,2083400.0,151.605072
2020-06-02,158.600006,156.630005,156.750000,157.639999,2333800.0,153.612442
2020-06-03,161.660004,158.520004,159.350006,161.210007,3674300.0,157.091232
2020-06-04,162.580002,159.179993,159.759995,162.550003,2880700.0,158.396988
2020-06-05,168.350006,165.000000,165.000000,167.410004,4527200.0,163.132812
...,...,...,...,...,...,...
2021-02-22,177.089996,175.009995,176.460007,176.119995,2271500.0,176.119995
2021-02-23,177.539993,174.710007,177.539993,176.169998,2352300.0,176.169998
2021-02-24,177.979996,173.759995,176.000000,177.630005,2742600.0,177.630005
2021-02-25,180.750000,177.429993,177.520004,178.759995,2634300.0,178.759995
2021-02-26,179.449997,174.610001,179.440002,175.059998,3363300.0,175.059998

In [7]:
price = pd.DataFrame({ tic: data_exchange[tic]['Close'] for tic in symbol })
price.head()
# Вариант 2 (этой же команды)
# price = pd.DataFrame({ tic: data['Close'] for tic, data in data_exchange.items() })
# price.head()

,MMM,AXP,AMGN,AAPL,BA,CAT,CVX,CSCO,KO,DOW,...,NKE,PG,CRM,TRV,UNH,VZ,V,WBA,WMT,DIS
Date,,,,,,,,,,,,,,,,,,,,,
2020-06-01,155.580002,96.750000,226.910004,80.462502,151.389999,120.500000,92.790001,46.299999,46.990002,38.610001,...,99.540001,117.250000,176.360001,109.150002,305.929993,55.779999,194.350006,43.299999,123.959999,118.769997
2020-06-02,157.639999,99.070000,223.720001,80.834999,153.309998,123.320000,94.690002,46.889999,46.900002,40.599998,...,100.739998,118.059998,174.229996,111.000000,306.309998,56.400002,196.360001,43.549999,123.940002,118.750000
2020-06-03,161.210007,105.400002,221.000000,81.279999,173.160004,127.089996,97.180000,46.939999,47.900002,41.630001,...,104.110001,118.529999,174.990005,114.470001,305.350006,56.830002,196.869995,43.610001,123.470001,122.180000
2020-06-04,162.550003,106.540001,220.880005,80.580002,184.300003,128.960007,96.279999,46.860001,47.919998,42.709999,...,101.279999,116.050003,171.440002,118.000000,298.079987,57.220001,193.639999,44.200001,122.110001,123.690002
2020-06-05,167.410004,109.730003,225.669998,82.875000,205.429993,135.119995,100.809998,47.830002,49.090000,43.970001,...,102.709999,118.330002,173.880005,124.360001,311.850006,57.740002,199.610001,45.349998,121.559998,124.820000

In [8]:
price = price.dropna( thresh = 0.91*len(price.index) , axis='columns')
price

,MMM,AXP,AMGN,AAPL,BA,CAT,CVX,CSCO,KO,DOW,...,NKE,PG,CRM,TRV,UNH,VZ,V,WBA,WMT,DIS
Date,,,,,,,,,,,,,,,,,,,,,
2020-06-01,155.580002,96.750000,226.910004,80.462502,151.389999,120.500000,92.790001,46.299999,46.990002,38.610001,...,99.540001,117.250000,176.360001,109.150002,305.929993,55.779999,194.350006,43.299999,123.959999,118.769997
2020-06-02,157.639999,99.070000,223.720001,80.834999,153.309998,123.320000,94.690002,46.889999,46.900002,40.599998,...,100.739998,118.059998,174.229996,111.000000,306.309998,56.400002,196.360001,43.549999,123.940002,118.750000
2020-06-03,161.210007,105.400002,221.000000,81.279999,173.160004,127.089996,97.180000,46.939999,47.900002,41.630001,...,104.110001,118.529999,174.990005,114.470001,305.350006,56.830002,196.869995,43.610001,123.470001,122.180000
2020-06-04,162.550003,106.540001,220.880005,80.580002,184.300003,128.960007,96.279999,46.860001,47.919998,42.709999,...,101.279999,116.050003,171.440002,118.000000,298.079987,57.220001,193.639999,44.200001,122.110001,123.690002
2020-06-05,167.410004,109.730003,225.669998,82.875000,205.429993,135.119995,100.809998,47.830002,49.090000,43.970001,...,102.709999,118.330002,173.880005,124.360001,311.850006,57.740002,199.610001,45.349998,121.559998,124.820000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-22,176.119995,135.949997,231.470001,126.000000,212.880005,218.059998,98.389999,45.430000,50.630001,62.480000,...,136.669998,126.580002,240.949997,147.869995,327.640015,56.450001,208.320007,48.860001,137.690002,191.759995
2021-02-23,176.169998,136.940002,232.460007,125.860001,212.119995,220.179993,99.629997,45.509998,50.540001,62.119999,...,136.130005,127.519997,235.639999,149.330002,329.510010,57.029999,212.110001,48.410000,135.470001,197.089996
2021-02-24,177.630005,139.889999,229.990005,125.349998,229.339996,222.470001,103.309998,45.740002,50.709999,63.689999,...,135.649994,127.660004,240.470001,150.960007,332.209991,57.119999,219.429993,49.169998,133.210007,197.509995
2021-02-25,178.759995,137.080002,227.520004,120.989998,216.449997,221.820007,102.349998,45.520000,50.169998,61.349998,...,135.539993,126.580002,231.080002,148.000000,328.869995,56.500000,213.750000,48.270000,131.949997,190.979996
2021-02-26,175.059998,135.259995,224.919998,121.260002,212.009995,215.880005,100.000000,44.869999,48.990002,59.310001,...,134.779999,123.529999,216.500000,145.500000,332.220001,55.299999,212.389999,47.930000,129.919998,189.039993

In [9]:
result_corr = price.corr()
display(result_corr.head())
np.fill_diagonal(result_corr.values,0.)
result_corr.head()

,MMM,AXP,AMGN,AAPL,BA,CAT,CVX,CSCO,KO,DOW,...,NKE,PG,CRM,TRV,UNH,VZ,V,WBA,WMT,DIS
MMM,1.000000,0.837375,-0.289985,0.752716,0.654030,0.848070,0.217238,0.023329,0.736331,0.866709,...,0.825003,0.365773,0.493964,0.785495,0.696403,0.247821,0.677384,0.401219,0.688522,0.820199
AXP,0.837375,1.000000,-0.298422,0.654702,0.832331,0.896411,0.509486,0.274526,0.620086,0.915004,...,0.797961,0.119674,0.277462,0.903349,0.721225,0.127038,0.724605,0.636955,0.553480,0.920177
AMGN,-0.289985,-0.298422,1.000000,-0.000948,-0.334605,-0.250900,-0.112598,0.093815,-0.370379,-0.229035,...,-0.308763,-0.035095,0.013796,-0.305559,-0.228560,-0.130199,-0.071032,-0.005347,-0.127560,-0.224790
AAPL,0.752716,0.654702,-0.000948,1.000000,0.405596,0.809499,-0.069730,-0.141931,0.614634,0.806720,...,0.846282,0.627976,0.647281,0.662660,0.748853,0.282934,0.648608,0.255906,0.803838,0.785200
BA,0.654030,0.832331,-0.334605,0.405596,1.000000,0.630062,0.690006,0.522913,0.497919,0.669147,...,0.552627,-0.102679,-0.063643,0.798406,0.575606,0.079910,0.608500,0.612684,0.341125,0.753755

,MMM,AXP,AMGN,AAPL,BA,CAT,CVX,CSCO,KO,DOW,...,NKE,PG,CRM,TRV,UNH,VZ,V,WBA,WMT,DIS
MMM,0.000000,0.837375,-0.289985,0.752716,0.654030,0.848070,0.217238,0.023329,0.736331,0.866709,...,0.825003,0.365773,0.493964,0.785495,0.696403,0.247821,0.677384,0.401219,0.688522,0.820199
AXP,0.837375,0.000000,-0.298422,0.654702,0.832331,0.896411,0.509486,0.274526,0.620086,0.915004,...,0.797961,0.119674,0.277462,0.903349,0.721225,0.127038,0.724605,0.636955,0.553480,0.920177
AMGN,-0.289985,-0.298422,0.000000,-0.000948,-0.334605,-0.250900,-0.112598,0.093815,-0.370379,-0.229035,...,-0.308763,-0.035095,0.013796,-0.305559,-0.228560,-0.130199,-0.071032,-0.005347,-0.127560,-0.224790
AAPL,0.752716,0.654702,-0.000948,0.000000,0.405596,0.809499,-0.069730,-0.141931,0.614634,0.806720,...,0.846282,0.627976,0.647281,0.662660,0.748853,0.282934,0.648608,0.255906,0.803838,0.785200
BA,0.654030,0.832331,-0.334605,0.405596,0.000000,0.630062,0.690006,0.522913,0.497919,0.669147,...,0.552627,-0.102679,-0.063643,0.798406,0.575606,0.079910,0.608500,0.612684,0.341125,0.753755

In [10]:
result=(abs(result_corr)>=0.8).astype(int)
#result=(result_corr>=0.9).astype(int)
result.head()

,MMM,AXP,AMGN,AAPL,BA,CAT,CVX,CSCO,KO,DOW,...,NKE,PG,CRM,TRV,UNH,VZ,V,WBA,WMT,DIS
MMM,0,1,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
AXP,1,0,0,0,1,1,0,0,0,1,...,0,0,0,1,0,0,0,0,0,1
AMGN,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AAPL,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
BA,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
import matplotlib.pyplot as plt
import networkx as nx

In [ ]:
A=result.values
G=nx.from_numpy_matrix(A)
mapping=dict(zip(G.nodes(),result.index))

G1=nx.relabel_nodes(G,mapping)

nx.draw_networkx(G1)
nx.draw_networkx(G1,pos=nx.kamada_kawai_layout(G1))
plt.show()

In [ ]:
clique=list(nx.find_cliques(G1))
print(clique)
max_clique=max(clique,key=len)
print()
print("максимальная ",max_clique)

In [ ]:
pos = nx.spring_layout(G1,dim=2,k=0.5)
nx.draw_networkx_nodes(G1,pos,node_color='r',alpha=0.4)
nx.draw_networkx_nodes(G1,pos,nodelist=max_clique,node_color='b',alpha=0.5)
nx.draw_networkx_edges(G1,pos,width=1.0,alpha=0.8)
nx.draw_networkx_labels(G1,pos)
plt.show()

In [ ]:
# Имена бумаг в клике
max_clique_name=names.loc[names['Symbol'].isin(max_clique)]
display(max_clique_name)
# Только имена бумаг
print(max_clique_name['Company'].values)

In [ ]:
no_max_clique_name=names.loc[~names['Symbol'].isin(max_clique)]
no_max_clique_name

In [ ]:
df=pd.DataFrame(price, columns=max_clique_name['Symbol'].values)
display(df.head(3))
display(df.shape)
display(df.describe())
df = df.pct_change(fill_method='ffill').fillna(0).cumsum()
display(df.head())

In [ ]:
plt.figure();
df.plot();
plt.show();